* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(171, 145, 69);
  --color-secondary: #212529;
  --color-grey-light-1: #e3e3e3f4;
  --font-primary: system-ui, sans-serif;
}

html {
  /* font-size: 62.5%; 1rem = 10px */
  overflow-x: hidden;
}

body {
  width: 100%;
  height: auto;
  font-family: var(--font-primary);
}

.grid {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  grid-gap: 20px;
}

.containerr {
  display: grid;
  grid-template-columns:  1fr repeat(6, minmax(min-content, 200px)) 1fr;
  grid-template-rows: 75vh min-content 40vw repeat(1, min-content);
  grid-template-areas:
    " header header header header header realtors realtors realtors"
    " . services services services services services services ."
    " goals goals goals goals story story story story"
    " gallery gallery gallery gallery gallery gallery gallery gallery"
    ;
}

.header {
  grid-area: header;
  background: linear-gradient(rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.8)),
    url("images/story-1.jpeg") no-repeat center center/cover;
  display: grid;
  grid-template-rows: minmax(50px, 1fr) repeat(2, min-content) minmax(50px, 1fr) repeat(
      2,
      min-content
    );
  padding: 20px 50px;
  grid-gap: 20px;
  margin-bottom: 10px;
}

.header h3 {
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--color-primary);
  font-weight: 700;
}

.header h1 {
  font-family: var(--font-primary);
  font-size: 32px;
  color: var(--color-grey-light-1);
  font-weight: 700;
}

.header button {
  align-self: start;
  justify-self: start;
  padding: 12px 14px;
  border: none;
  color: var(--color-grey-light-1);
  background-color: var(--color-primary);
}

.header .seenon {
  color: var(--color-grey-light-1);
  font-size: 15px;
  font-family: var(--font-primary);
  justify-self: center;
  position: relative;
}


.realtors {
  grid-area: realtors;
  background-color: var(--color-secondary);
  display: grid;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
}

.realtors h3 {
  font-family: var(--font-primary);
  font-size: 20px;
  color: var(--color-grey-light-1);
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.realtors .realtor-items .realtor-item {
  display: grid;
  column-gap: 20px;
  grid-template-columns: min-content max-content;
  justify-items: center;
  align-items: center;
  margin-bottom: 15px;
}

.realtors .realtor-items .realtor-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.realtors .realtor-items .realtor-item h5 {
  color: var(--color-grey-light-1);
  font-size: 23px;
}

.realtors .realtor-items .realtor-item p {
  color: var(--color-grey-light-1);
  font-size: 14px;
}

.goals {
  grid-area: goals;
  background: linear-gradient(rgba(16, 29, 44, 0.7), rgba(171, 145, 69,0.6)),
    url("images/back.jpg") no-repeat center center/cover;
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
}

.goals img:first-child {
  width: 70%;
  height: 50%;
}

.goals img:nth-child(2) {
  width: 60%;
  height: 40%;
  position: absolute;
  top: 50%;
  right: -10%;
}

.story {
  grid-area: story;
  background-color: var(--color-grey-light-1);
  display: grid;
  align-items: center;
  justify-items: center;
}
.story div {
  display: grid;
  width: 70%;
  grid-gap: 20px;
  
}
.story h3{
  font-size: 16px;
  font-weight: 400;
  color: var(--color-primary);
  /* margin-bottom: 3rem; */
}
.story h1{
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  color: var(--color-secondary);
  /* margin-bottom: 3rem; */
}
.story p{
  font-size: 16px;
  font-weight: 100;
  font-style: italic;
  color: var(--color-secondary);
  line-height: 23px;
  /* margin-bottom: 3rem; */
}

.story button{
  padding: 10px 20px;
  border: none;
  color: var(--color-grey-light-1);
  background-color: var(--color-primary);
  font-size: 18px;
  /* width: 50%; */

}

.gallery {
  grid-area: gallery;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 6vw);
  grid-gap: 15px;
  padding: 15px;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.gallery img:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.gallery img:nth-child(2) {
  grid-column: 3 / span 3;
  grid-row: 1 / span 3;
}

.gallery img:nth-child(3) {
  grid-column: 6 / span 1;
  grid-row: 1 / span 2;
}

.gallery img:nth-child(4) {
  grid-column: 7 / span 2;
  grid-row: 1 / span 2;
}

.gallery img:nth-child(5) {
  grid-column: 1 / span 2;
  grid-row: 3 / span 3;
}

.gallery img:nth-child(6) {
  grid-column: 3 / span 2;
  grid-row: 4 / span 2;
}

.gallery img:nth-child(7) {
  grid-column: 5 / span 1;
  grid-row: 4 / span 1;
}

.gallery img:nth-child(8) {
  grid-column: 6 / span 2;
  grid-row: 3 / span 2;
}

.gallery img:nth-child(9) {
  grid-column: 8 / span 1;
  grid-row: 3 / span 3;
}

.gallery img:nth-child(10) {
  grid-column: 1 / span 1;
  grid-row: 6 / span 2;
}

.gallery img:nth-child(11) {
  grid-column: 2 / span 2;
  grid-row: 6 / span 2;
}

.gallery img:nth-child(12) {
  grid-column: 4 / span 1;
  grid-row: 6 / span 2;
}

.gallery img:nth-child(13) {
  grid-column: 5 / span 3;
  grid-row: 5 / span 3;
}

.gallery img:last-child {
  grid-column: 8 / span 1;
  grid-row: 6 / span 2;
}


@media only screen and (max-width: 900px) {
  .containerr {
    display: grid;
    grid-template-columns:  1fr repeat(6, minmax(min-content, 100px)) 1fr;
    grid-template-rows: 75vh  40vw  repeat(3, min-content);
    grid-template-areas:
      " header header header header header realtors realtors realtors"
      " goals goals goals goals goals goals goals goals"
      " story story story story story story story story"
      " . home home home home home home ."
      " gallery gallery gallery gallery gallery gallery gallery gallery";
  }
  .story{
    padding:50px 10px;
  }
  .goals img:nth-child(2) {
    top: 70%;
    right: 5%;
  }
}


@media only screen and (max-width: 768px) {
  .containerr {
    grid-template-rows: 75vh  min-content 40vw  repeat(3, min-content);
    grid-template-areas:
      "header header header header header header header header"
      "realtors realtors realtors realtors realtors realtors realtors realtors"
      "goals goals goals goals goals goals goals goals"
      "story story story story story story story story"
      ". home home home home home home ."
      "gallery gallery gallery gallery gallery gallery gallery gallery"
      ;
  }

  .realtors {
    padding: 80px 20px;
  }
}
